<!DOCTYPE html>
<html>
    <head>
        <title>Human Search</title>
        <link href="static/style.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <h3>Search the available modules</h3>
        <form method="POST" action="/human/search">
        <input name="q"/>
        <select name="type">
            <option value="">All results</option>
            {% for item in types %}
            <option {{item.selected}} value="{{item.name}}">{{item.name.title}}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Search"/>
        </form>


        {% if results %}
        <div class="human_search_results">
            <div class="human_search_inner">
                {{ results|safe }}
            </div>
        </div>
        {% endif %}
    </body>
</html>